.lesCartes{
    width:calc(100% - 50px);
    margin-top:25px;
    margin-left:25px;
    margin-right:25px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
.uneCarte{
    width:8.5cm;
    height:5.5cm;
    background-color:white;
    box-shadow: 10px 11px 15px -3px #CAC085;
    padding:5px;
    margin-right:20px;
    position:relative;
    z-index:1;
}
.uneCarte h1, div h2, div h3, div p{
    margin:0px;
    padding:0px;
    font-size: 1em;
    font-family: sans-serif;
    z-index:4;
}
#nom{
    font-size: 1.2em;
    position:absolute;
    top:66px;
}
#vueimage{
    width:40%;
    position:absolute;
    top:0px;
    right:0px;
    z-index:3;
}
 
#mail{
    width:100%;
    text-align:center;
    position:absolute;
    bottom:5px;
    font-weight: 300;
}
#ladresse{
    margin:0px;
    width:100%;
    text-align:center;
    position:absolute;
    bottom:28px; 
    font-family: sans-serif;
    font-weight: 400;
}